<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/create">Create Users</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>

    <div class="containerTable">
      <%= JSON.stringify(dataUsers) %>

      <div class="titleTable">List Users</div>
      <table>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Name</th>
          <th>City</th>
          <th>Action</th>
        </tr>
        </tr> -->
    <!--     <% for(let i=0; i<dataUsers.length; i++) { %>
        <tr>
          <td><%= dataUsers[i].id %></td>
          <td><%= dataUsers[i].email %></td>
          <td><%= dataUsers[i].name %></td>
          <td><%= dataUsers[i].city %></td>
          <td>
            <button class="editBtn">Edit</button>
            <button class="deleteBtn">Delete</button>
          </td> 
        </tr>
        <% } %> -->
        <% dataUsers.forEach(function(user) { %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.name %></td>
          <td><%= user.city %></td>
          <td>
            <button class="editBtn">Edit</button>
            <button class="deleteBtn">Delete</button>
          </td>
        </tr>
        <% }); %>
      </table>
    </div>
  </body>
</html>
